<form [formGroup]="form" (submit)="submit()">
    <div class="form-group mt-5">
        <label>First Name</label>
        <input type="text" formControlName="first_name" class="form-control" name="first_name">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="last_name" class="form-control" name="last">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>Role</label>
        <select name="role_id" formControlName="role_id" class="form-control">
            <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
        </select>
    </div>
    <button class="btn btn-outline-secondary">Save</button>
</form>